body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapping {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.wrapping i {
  font-weight: 800;
  font-size: 30px;
  padding: 20px;
  background-color: #F5B904;
  color: white;
  border-radius: 60px;
  position: fixed;
  bottom: 20px;
  right: 10px;
}
.wrapping .con {
  width: 80%;
}
.wrapping .con header {
  background-color: #E3E2EB;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapping .con header .box1 {
  width: 10%;
}
.wrapping .con header .box2 {
  width: 80%;
}
.wrapping .con header .box2 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.wrapping .con header .box2 ul li a {
  text-decoration: none;
  color: #222222;
}

.after_1 {
  background-color: blue;
  padding: 40px 20px;
  position: relative;
}
.after_1 .link_a {
  display: none;
  width: 190px;
  height: 290px;
  position: absolute;
  top: 95px;
  left: 0px;
  background-color: white;
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 5px;
}
.after_1 .link_a:hover {
  color: white;
}
.after_1 .link_a:hover a:hover {
  width: 100%;
  transition: 2s;
  background-color: rgb(108, 142, 160);
}
.after_1:hover {
  color: white;
}
.after_1:hover .link_a {
  display: inline-block;
}

.after_2 {
  position: relative;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.after_2::after {
  line-height: 30px;
  font-style: oblique;
  font-weight: 800;
  position: absolute;
  position: absolute;
  content: "";
  display: block;
  top: 80px;
  width: 200px;
  height: 0px;
  transition: 100ms;
  background-color: rgba(0, 0, 0, 0.2);
}
.after_2:hover::after {
  height: 130px;
  background-color: white;
  font-size: 20px;
  content: "Blog Style " "Slider Banner " "Particles Banner " "Typewriter Banner " "Video Banner ";
}

.after_3 {
  position: relative;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.after_3::after {
  line-height: 30px;
  font-style: oblique;
  font-weight: 800;
  position: absolute;
  position: absolute;
  content: "";
  display: block;
  top: 80px;
  width: 200px;
  height: 0px;
  transition: 100ms;
  background-color: rgba(0, 0, 0, 0.2);
}
.after_3:hover::after {
  height: 70px;
  background-color: white;
  font-size: 20px;
  content: "Typewriter Banner " "Video Banner ";
}

.after_4 {
  position: relative;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.after_4::after {
  line-height: 30px;
  font-style: oblique;
  font-weight: 800;
  position: absolute;
  position: absolute;
  content: "";
  display: block;
  top: 80px;
  width: 200px;
  height: 0px;
  transition: 100ms;
  background-color: rgba(0, 0, 0, 0.2);
}
.after_4:hover::after {
  height: 110px;
  background-color: white;
  font-size: 20px;
  content: "Blog Style " "Particles Banner " "Typewriter Banner " "Video Banner ";
}

.after_5 {
  position: relative;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.after_5::after {
  line-height: 30px;
  font-style: oblique;
  font-weight: 800;
  position: absolute;
  position: absolute;
  content: "";
  display: block;
  top: 80px;
  width: 200px;
  height: 0px;
  transition: 100ms;
  background-color: rgba(0, 0, 0, 0.2);
}
.after_5:hover::after {
  height: 110px;
  background-color: white;
  font-size: 20px;
  content: "Particles Banner " "Typewriter Banner " "Video Banner ";
}

.after_6 {
  position: relative;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.after_6::after {
  line-height: 30px;
  font-style: oblique;
  font-weight: 800;
  position: absolute;
  position: absolute;
  content: "";
  display: block;
  top: 80px;
  width: 200px;
  height: 0px;
  transition: 100ms;
  background-color: rgba(0, 0, 0, 0.2);
}
.after_6:hover::after {
  height: 50px;
  background-color: white;
  font-size: 20px;
  content: "Typewriter Banner ";
}

.di {
  width: 100%;
  height: 1000px;
  background-color: aqua;
}

.girl {
  width: 100%;
  height: 500px;
  background-image: url("https://mgsdemo.mgscoder.com/html5/acutip/images/background/main-banner.jpg");
  background-size: cover;
  color: white;
  background-attachment: fixed;
}
.girl .bg_black {
  width: 55%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: skewX(-15deg);
  margin-right: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.girl .bg_black .texts {
  transform: skewX(15deg);
  width: 60%;
  height: 100px;
}
.girl .bg_black .texts h1 {
  color: #F5B904;
}

.card {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .main-box {
  width: 546px;
  height: 324px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("https://mgsdemo.mgscoder.com/html5/acutip/images/portfolio/1.jpg");
  background-size: cover;
  background-position: center;
}
.card .main-box .read-more {
  opacity: 0;
  width: 100px;
  height: 100px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 1s;
}
.card .main-box .read-more .icon-con a {
  color: #F5B904;
  border: 2px solid #F5B904;
  margin-left: 10px;
  font-size: 20px;
  padding: 10px;
}
.card .main-box:hover .read-more {
  opacity: 1;
  width: 546px;
  height: 324px;
}

.con_box2 {
  width: 50%;
}

.box_2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_2:hover {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
.box_2 .box2_b {
  width: 90%;
}

.detail {
  margin: 40px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  transition: 2s;
}
.detail:hover {
  color: blue;
  background-color: white;
}

.project2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project2 .main_box {
  width: 90%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project2 .main_box .box1 {
  position: relative;
  width: 546px;
  height: 324px;
  background-image: url("https://mgsdemo.mgscoder.com/html5/acutip/images/portfolio/7.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project2 .main_box .box1 .box_b {
  width: 100px;
  height: 100px;
  position: absolute;
  transition: 1s;
}
.project2 .main_box .box1 .box_b:hover {
  width: 546px;
  height: 324px;
  background-color: rgba(0, 0, 0, 0.7);
}
.project2 .main_box .con_box2 {
  width: 50%;
}
.project2 .main_box .box2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project2 .main_box .box2:hover {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
.project2 .main_box .box2 .box2_b {
  width: 90%;
}
.project2 .main_box a {
  margin: 40px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  transition: 2s;
}
.project2 .main_box a:hover {
  color: blue;
  background-color: white;
}

.wrap {
  width: 100%;
  height: 600px;
  background-color: silver;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .container {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap .container .our1 {
  line-height: 50px;
}
.wrap .container .our1 a {
  text-decoration: none;
  color: #0347AB;
  background-color: #F5B904;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding: 10px 20px;
}
.wrap .container .our1 a .our {
  color: white;
  font-weight: 500;
}
.wrap .container .our1 ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap .container .our1 ul img {
  width: 161px;
  height: 161px;
}

.wrapper {
  width: 100%;
  height: 600px;
  line-height: 50px;
  color: rgb(102, 95, 95);
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .contain {
  width: 80%;
  height: 400px;
}
.wrapper .contain .proj {
  text-decoration: none;
  color: #0347AB;
  background-color: #F5B904;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding: 10px 20px;
}
.wrapper .contain .proj .our {
  color: white;
  font-weight: 500;
}
.wrapper .contain .list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .contain .list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.wrapper .contain .list ul li {
  list-style: none;
}
.wrapper .contain .list ul li a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
}
.wrapper .contain .list ul li a:hover {
  background-color: #0347AB;
  color: white;
}

.full {
  width: 100%;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full .full-con {
  width: 89%;
  background-color: paleturquoise;
}
.full .full-con .picture {
  width: 100%;
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
}
.full .full-con .picture .main-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
}
.full .full-con .picture .main-box .read-more {
  opacity: 0;
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full .full-con .picture .main-box .read-more .icon-con {
  display: flex;
  justify-content: center;
  align-items: center;
}
.full .full-con .picture .main-box .read-more .icon-con a {
  color: #F5B904;
  border: 2px solid #F5B904;
  margin-left: 10px;
  font-size: 20px;
  padding: 10px;
}
.full .full-con .picture .main-box:hover .read-more {
  opacity: 1;
  width: 100%;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: #222222;
}/*# sourceMappingURL=style.css.map */